<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap 3 Fixed Width Example</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="bootstrap/css/styles.css" rel="stylesheet">
	</head>
	<body>
 
<div class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Brand</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">More</a></li>
      <li><a href="#">Options</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Fixed Width Layout</h1>
    <p class="lead">The Bootstrap 3 grid is fluid only. This example shows how to use a custom container to create a fixed width layout.</p>
    <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">More Examples</a></p>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <h4>Mfffobile First</h4>
      <p>Responsive by default, and a clean "flat" design.</p>
      
      <h4>Powerful Grid</h4>
      <p>3 responsive grid sizes to control the grid layout on tiny, small and large displays.</p>
    </div>
    
    <div class="col-lg-6">
      <h4>New Elements</h4>
      <p>New panels, list groups, glyphicons and justified navigation.</p>
      
      <h4>Less Bloat</h4>
      <p>The optimized CSS is in a single file. Glyphicons are now separate.</p>
    </div>
  </div>

    <div ng-controller="MyCtrl3">
    <div ng-click="change()">
      click
      {{foo}}
    </div>
    <div ng-repeat='post in posts'>
      {{post._id}}
      <div ng-click="upvote(post)">{{post.upvotes}}</div>
      <div ng-click="downvote(post)">{{post.downvotes}}</div>
      {{post.title}}
      {{post.comment}}
      {{post.username}}
      </div>
    </div>

    <div ng-controller="SubmitCtrl">
      {{foo}}
      <form>
        Title: <input type="text" ng-model="submission.title"><br>
        Comment: <input type="text" ng-model="submission.comment">
        <button ng-click="submitPost(submission)">submit post</button>
      </form>
      <form action="/post" method="post">
      <div>
      <label>Username:</label>
      <input type="text" name="username"/><br/>
      </div>

      <div>
      <label>Title</label>
      <input type="text" name="title"/><br/>
      </div>

      <div>
      <label>Comment</label>
      <input type="text" name="comment"/><br/>
      </div>

      <div>
      <input type="submit" value="Submit"/>
      </div>
      </form>
    </div>
  
  <hr>
  
  <div class="jumbotron text-center">
    <h2>Moving from Bootstrap 2.x to 3.0?</h2>
    <p class="lead">Everything has changed, so you can't just replace the 2.x with the 3.0 files. The folks at Bootply, the Bootstrap Playground have created a migration guide to help.</p>
    <p><a class="btn btn-large btn-success" href="http://www.bootply.com/bootstrap-3-migration-guide" target="ext">Migration Guide</a></p>
  </div>
  
</div> <!-- /container -->
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>


  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>    
	</body>
</html>