<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Backpage Of The Internet</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <link href="bootstrap/css/styles.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
</head>




<body ng-app="myApp">

<div ng-controller="LoginCtrl">
  <div class="navbar navbar-default">
    <div class="container">
 
      <a class="navbar-brand" href="#/top">Reддit</a>
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="logged_in"><a ng-click="toggleLogin()" href="">Login</a></li>  
        <li ng-hide="logged_in"><a ng-click="toggleRegistration()" href="">Register</a></li>
        <li ng-show="logged_in"><a href="#/submit">Submit</a></li>
      </ul>


      <form ng-hide="!show_login" class="navbar-form navbar-right form-inline" role="form">
        <div class="form-group">
          <label class="sr-only">Username</label>
          <input type="text" class="form-control" placeholder="Enter Username" ng-model="credentials.username">
        </div>
        <div class="form-group">
          <label class="sr-only">Password</label>
          <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password">
        </div>
        <button class="btn btn-default" ng-click="login(credentials)">login</button>
      </form>


      <form ng-hide="!show_registration" class="navbar-form navbar-right form-inline" role="form" method="post">
        <div class="form-group">
          <label class="sr-only">Username</label>
          <input type="text" name="username" placeholder="Enter Username" ng-model="registration.username"/>
        </div>
        <div class="form-group">
          <label class="sr-only">Password</label>
          <input type="password" name="password" placeholder="Password" ng-model="registration.password"/>
        </div>
        <div class="form-group">
          <label class="sr-only">Email</label>
          <input type="email" name="email" placeholder="Email" ng-model="registration.email"/>
        </div>
        <button class="btn btn-default" ng-click="register(registration)">register</button>    
      </form>

    </div>



  </div>


<hr>

  <div class="container">
    <div class="row">
      <div ng-view></div>
    </div>
    <hr>
  </div> <!-- /container -->

</div>




  <!-- script references -->
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

  <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>    
</body>
</html>