<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>


  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <div ng-view></div>

  <div ng-controller="MyCtrl3">
    <div ng-click="change()">
      click
      {{foo}}
    </div>
    <div ng-repeat='post in posts'>
      {{post._id}}
      <div ng-click="upvote(post)">{{post.upvotes}}</div>
      <div ng-click="downvote(post)">{{post.downvotes}}</div>
      {{post.title}}
      {{post.comment}}
      {{post.username}}
      </div>
    </div>

    <div ng-controller="SubmitCtrl">
      {{foo}}
      <form>
        Title: <input type="text" ng-model="submission.title"><br>
        Comment: <input type="text" ng-model="submission.comment">
        <button ng-click="submitPost(submission)">submit post</button>
      </form>
      <form action="/post" method="post">
      <div>
      <label>Username:</label>
      <input type="text" name="username"/><br/>
      </div>

      <div>
      <label>Title</label>
      <input type="text" name="title"/><br/>
      </div>

      <div>
      <label>Comment</label>
      <input type="text" name="comment"/><br/>
      </div>

      <div>
      <input type="submit" value="Submit"/>
      </div>
      </form>
    </div>


    <div ng-controller="LoginCtrl">
    <div ng-hide='logged_in'>
     <form>
        Username: <input type="text" class="form-control" ng-model="credentials.username"><br>
        Password:
        <input type="password" class="form-control" ng-model="credentials.password">
        <button ng-click="login(credentials)">login</button>
      </form>
    </div>
    </div>
  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
