
<form>
	Title: <input type="text" class="form-control" ng-model="submission.title"><br>
	Comment:
	<textarea class="form-control" rows="3" ng-model="submission.comment"></textarea>
	<button ng-click="submitPost(submission)">submit post</button>
</form>

