
<watchlogin></watchlogin>

<hr>

<div class="col-lg-6" ng-repeat='post in posts.list | orderBy:"upvotes":true'>
  <h4>
    {{post.upvotes}}
    {{post.downvotes}}
    <vote></vote>
    <a ng-href='#/post/{{post._id}}'>{{post.title}}</a>
  </h4>
  <p>posted by: {{post.username}}</p> 
</div>

<a ng-href='#/top/{{page-1}}'>{{page-1}}</a>
<a ng-href='#/top/{{page+1}}'>{{page+1}}</a> 
